<div class="screen-fluid screen-fluid_full-screen">
    <div class="container">
        <div class="row">
            <div class="col-10">
                <div class="screen screen_padding-top">
                    <div class="screen__title">Sport<span class="screen__title_orange">HUB</span></div>
                    <div class="screen__description">Медиа-сервис для поиска и создания программ тренировок</div>
                </div>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
    <%= image_tag('bg-screen-01.svg', alt: "bg-screen-01", class: "screen-fluid__bg-images") %>
</div>
<div class="screen-fluid screen-fluid_full-screen">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="screen">
                    <div class="screen__title screen__title_small">
                        Sport<span class="screen__title_orange">HUB</span> — твой помощник <br> в мире спорта
                    </div>
                    <div class="screen__description screen__description_small">Создай свою индивидуальную программу <br>
                        тренировок или найди уже готовую <br> и вперед к цели
                    </div>
                </div>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
    <%= image_tag('bg-screen-02.svg', alt: "bg-screen-02", class: "screen-fluid__bg-images screen-fluid__bg-images_right") %>
</div>
<div class="screen-fluid screen-fluid_full-screen">
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-9">
                <div class="screen">
                    <div class="screen__title screen__title_small">
                        Большое и активное комьюнити
                    </div>
                    <div class="screen__description screen__description_small">Прокачивай свой аккаунт для получения
                        <br>
                        дополнительных возможностей, вноси вклад <br>
                        в чужие программы тренировок, создавай <br>
                        свои, участвуй в обсуждениях
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= image_tag('bg-screen-03.svg', alt: "bg-screen-01", class: "screen-fluid__bg-images screen-fluid__bg-images_left") %>
</div>
<div class="screen-fluid screen-fluid_full-screen">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="screen">
                    <div class="screen__title screen__title_small">
                        Прокачивайся сам <br> и прокачивай свою программу
                    </div>
                    <div class="screen__description screen__description_small">Принимай от других пользователей
                        предложения <br> о внесении изменений в свою программу тренировок <br> и предлагай свои
                        корректировки
                    </div>
                </div>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
    <%= image_tag('bg-screen-04.svg', alt: "bg-screen-02", class: "screen-fluid__bg-images screen-fluid__bg-images_right") %>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <%= image_tag('footer.svg', alt: "bg-screen-02", class: "footer") %>
        </div>
    </div>
</div>